@import 'tailwindcss';

@layer base {
    button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
/* Dark mode colors. */
:root {
    --primary-button-hover: #C82831;
    --backdrop-color: #343A40cc;
    --sl-color-accent: #A42023;
    --sl-color-accent-high: #F3B329;
    --sl-color-accent-low: #7A1A1C;
    --sl-color-black: #343A40;
    --sl-color-gray-1: #F8F9FA;
    --sl-color-gray-2: #E9ECEF;
    --sl-color-gray-3: #ADB5BD;
    --sl-color-gray-4: #6C757D;
    --sl-color-gray-5: #495057;
    --sl-color-gray-6: #343A40;
    --sl-color-white: #FFFFFF;
    --yellow-hsl: 45, 85%, 56%;
    --overlay-yellow: hsla(var(--yellow-hsl), .15);
    --border: hsla(var(--border-neutral), .3);
    --border-neutral: 210, 9%, 31%;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --primary-button-hover: #C82831;
    --backdrop-color: #F8F9FAcc;
    --sl-color-accent: #A42023;
    --sl-color-accent-high: #7A1A1C;
    --sl-color-accent-low: #F3B329;
    --sl-color-black: #FFFFFF;
    --sl-color-gray-1: #343A40;
    --sl-color-gray-2: #495057;
    --sl-color-gray-3: #6C757D;
    --sl-color-gray-4: #ADB5BD;
    --sl-color-gray-5: #CED4DA;
    --sl-color-gray-6: #E9ECEF;
    --sl-color-gray-7: #F8F9FA;
    --sl-color-white: #343A40;
    --yellow-hsl: 45, 85%, 56%;
    --border-yellow: 45, 85%, 90%;
    --border: hsla(var(--border-yellow), .5);
}

.page {
    background: linear-gradient(215deg, var(--overlay-yellow), transparent 40%), radial-gradient(var(--overlay-yellow), transparent 40%) no-repeat center center / cover, radial-gradient(var(--overlay-yellow), transparent 65%) no-repeat center center / cover;
    background-blend-mode: overlay;
}

header {
    border: none !important;
    padding: 0 !important;
}

header.header {
    background-color: transparent !important;
    height: 4.5rem !important;
    margin-inline: auto !important;
    padding-block: 0 !important;
    padding-inline: 2rem !important;
}

header > div:first-of-type {
    backdrop-filter: blur(12px) !important;
    background-color: var(--backdrop-color) !important;
    border: 1px var(--border) solid;
    border-radius: 36px;
    height: 100% !important;
    margin-inline: auto !important;
    margin-top: 1rem !important;
    max-width: 1536px;
    padding-inline: 2rem !important;
    width: auto !important;
}

select {
    background-image: none;
    box-shadow: none;
}

.sl-link-button.primary:hover {
    background-color: var(--primary-button-hover);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-link-button.primary:hover svg {
    transform: translateX(0.25rem);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}