@import 'tailwindcss';

@layer base {
    button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Dark mode colors. */
:root {
  --border: hsla(var(--border-neutral), 0.3);
  --backdrop-color: #343A40cc;
  --sl-color-accent: #A42023;
  --sl-color-accent-high: #F3B329;
  --sl-color-accent-low: #7A1A1C;
  --sl-color-black: #343A40;
  --sl-color-gray-1: #F8F9FA;
  --sl-color-gray-2: #E9ECEF;
  --sl-color-gray-3: #ADB5BD;
  --sl-color-gray-4: #6C757D;
  --sl-color-gray-5: #495057;
  --sl-color-gray-6: #343A40;
  --sl-color-white: #FFFFFF;
  --list-marker-color: #F3B329;
  --border-neutral: 210, 9%, 31%;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --border: hsla(var(--border-yellow), 0.5);
  --backdrop-color: #F8F9FAcc;
  --sl-color-accent: #A42023;
  --sl-color-accent-high: #7A1A1C;
  --sl-color-accent-low: #F3B329;
  --sl-color-black: #FFFFFF;
  --sl-color-gray-1: #343A40;
  --sl-color-gray-2: #495057;
  --sl-color-gray-3: #6C757D;
  --sl-color-gray-4: #ADB5BD;
  --sl-color-gray-5: #CED4DA;
  --sl-color-gray-6: #E9ECEF;
  --sl-color-gray-7: #F8F9FA;
  --sl-color-white: #343A40;
  --list-marker-color: #F3B329;
  --border-yellow: 45, 85%, 90%;
}

header {
  border: none !important;
  padding: 0 !important;
}

header.header {
  background-color: transparent !important;
  height: 4.5rem !important;
  margin-inline: auto !important;
  padding-block: 0 !important;
  padding-inline: 2rem !important;
}

header > div:first-of-type {
  backdrop-filter: blur(12px) !important;
  background-color: var(--backdrop-color) !important;
  border: 1px var(--border) solid;
  border-radius: 36px;
  height: 100% !important;
  margin-inline: auto !important;
  margin-top: 1rem !important;
  max-width: 1536px;
  padding-inline: 2rem !important;
  width: auto !important;
}

#starlight__sidebar {
  border-radius: 1rem;
  margin-top: 2rem !important;
}

.content-panel:first-of-type {
  margin-top: 2rem !important;
}

.right-sidebar {
  top: 2rem !important;
}

#starlight__on-this-page--mobile {
  border: none !important;
}

mobile-starlight-toc > nav {
  border: none !important;
  border-radius: 1rem;
  margin-top: 2rem !important;
}

select {
  background-image: none;
  box-shadow: none;
}

select:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

article.card {
  border-radius: 0.5rem;
}

.pagination-links a:hover {
  border-color: var(--sl-color-accent);
}

.sl-link-card:hover {
  border-color: var(--sl-color-gray-4) !important;
}

.starlight-aside--tip {
  background: linear-gradient(45deg, #A42023, #F3B329);
  border: none;
  border-radius: 0.5rem;
  color: #7A1A1C;
}

.starlight-aside--note {
  background: linear-gradient(45deg, #343A40, #6C757D);
  border: none;
  border-radius: 0.5rem;
  color: #F8F9FA;
}

.starlight-aside__icon {
  transform: scale(0.8);
}

.starlight-aside--tip .starlight-aside__title {
  color: #FFFFFF;
  font-weight: 600;
}

.starlight-aside--note .starlight-aside__title {
  color: #F8F9FA;
  font-weight: 600;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
  list-style-type: none;
  padding-left: 0;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
  padding-left: 1.75rem;
  position: relative;
}

.sl-markdown-content li:not(:where(.not-content *)) > ul,
.sl-markdown-content li + li:not(:where(.not-content *)) {
  margin-top: 0.625rem;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li:before {
  background: var(--list-marker-color);
  border-radius: 1px;
  content: "";
  height: 2px;
  left: 2px;
  position: absolute;
  top: 13px;
  width: 0.875rem;
}

@media screen and (max-width: 800px) {
  mobile-starlight-toc > nav {
    border-radius: 1rem;
    margin-top: 3rem !important;
  }

  header > div:first-of-type {
    padding-inline-end: 5rem !important;
  }

  starlight-menu-button > button {
    right: 3rem !important;
    top: 2.2rem !important;
  }
}

@media screen and (max-width: 1280px) {
  header.header {
    padding-inline: 1.5rem !important;
  }
}
